<div class="wrapper-page">
  <div class="container-page">
    <h1 class="page-title">Agronegócio</h1>

    <p class="page-content">
      O uso da tecnologia no agronegócio se tornou uma realidade no Brasil. Segundo dados do CBAP, grande parte das propriedades agrícolas adotam algum tipo de inovação tecnológica. O setor tem impulsionado a economia brasileira, sendo responsável por parte significativa do PIB.  A HRD pode contribuir com soluções de engenharia para as máquinas e equipamentos utilizados, infraestrutura de armazenamento e transporte de granéis.
    </p>

    <div class="link-to-servicos-outisde-div">
      <%= link_to '/servicos', target: :_blank, class: 'link-to-servicos' do %>
        <div class="link-to-servicos-div">
          Conheça nossos serviços
        </div>
      <% end %>
    </div>

  </div>
</div>
