<div class="wrapper-page">
  <div class="container-page">
    <h1 class="page-title">Automobilística</h1>

    <p class="page-content">
      Em ritmo de recuperação de mercado, o setor automobilístico brasileiro cresceu significativamente em vendas no ano de 2018, quando comparado ao ano anterior. Ademais, aliado à questão ambiental, novas legislações e inovações tecnológicas voltadas à redução de emissão gases tóxicos e consumo de combustível exigem novos ciclos de projetos, resultando em demandas de verificações e soluções estruturais que vão ao encontro do serviço oferecido pela HRD.
    </p>

    <div class="link-to-servicos-outisde-div">
      <%= link_to '/servicos', target: :_blank, class: 'link-to-servicos' do %>
        <div class="link-to-servicos-div">
          Conheça nossos serviços
        </div>
      <% end %>
    </div>

  </div>
</div>

