<div class="wrapper-page">
  <div class="container-page">
    <h1 class="page-title">Siderurgia</h1>

    <p class="page-content">
      A utilização do aço na construção civil cresce no cenário nacional devido, principalmente, à flexibilidade e redução significativa no prazo de execução de obras. A HRD atua na elaboração de projetos ou reforços em estruturas de aço, oferecendo aos nossos clientes soluções personalizadas e eficientes.
    </p>

    <%= render 'shared/servicos-links' %>

  </div>
</div>
