<div class="wrapper-page">
  <div class="container-page">
    <h1 class="page-title">Ferrovias</h1>

    <p class="page-content">
      Com destaque crescente no cenário nacional, o setor ferroviário vem se mostrando uma alternativa viável para solução dos problemas de transporte brasileiro, incluindo o transporte urbano (setor metroviário). A HRD oferece soluções de engenharia para o setor incluindo consultoria estrutural, projeto de sistemas preditivos e inspeção.
    </p>

    <h1 class="page-subtitle">Equipamentos</h1>

    <ul class="lista-equipamentos">
      <li class="cada-equipamento">Vagões;</li>
      <li class="cada-equipamento">Virador de Vagões;</li>
      <li class="cada-equipamento">Empurrador de Vagões;</li>
      <li class="cada-equipamento">Via permanente;</li>
      <li class="cada-equipamento">Rotundas Ferroviárias;</li>
    </ul>

    <%= render 'shared/servicos-links' %>

  </div>
</div>
