<div class="wrapper-page">
  <div class="container-page">
    <h1 class="page-title">Inspeções e ensaios</h1>

    <p class="page-content">
      Equipamentos e estruturas, mesmo com manutenção adequada, possuem um ciclo de vida e devem ser periodicamente inspecionados para se verificar o estado de conservação e a capacidade de cumprir suas funções. Nesta etapa, a HRD pode ajudar sua empresa com técnicos experientes em identificar pontos de degradação em estruturas e equipamentos, por meio de uma avaliação sensitiva e com o auxílio de instrumentos e ensaios específicos.
    </p>

    <div class="link-to-servicos-outisde-div">
      <%= link_to '/servicos', target: :_blank, class: 'link-to-servicos' do %>
        <div class="link-to-servicos-div">
          Conheça nossos serviços
        </div>
      <% end %>
    </div>

  </div>
</div>
