<div class="wrapper-page">
  <div class="container-page">
    <h1 class="page-title">Siderurgia</h1>

    <p class="page-content">
      São esperados para 2019 crescimentos significativos na indústria de papel e celulose, tanto em cenário nacional quanto em exportação. A HRD oferece soluções estruturais, mecânicas e térmica para o setor.
    </p>

    <%= render 'shared/servicos-links' %>

  </div>
</div>
