<div class="wrapper-page">
  <div class="container-page">
    <h1 class="page-title">Pontes e viadutos</h1>

    <p class="page-content">
      Pontes e viadutos são elementos fundamentais para compor uma boa infraestrutura. Formada por engenheiros com experiência em normas internacionais de pontes, a HRD atua no dimensionamento e auditoria de projeto estrutural de pontes e viadutos, ferroviários e rodoviários, em estruturas metálicas ou mistas.
    </p>

    <h1 class="page-subtitle">Serviços prestados</h1>

    <ul class="lista-equipamentos">
      <li class="cada-equipamento">Análise estrutural estática, utilizando fatores de amplificação dinâmica especificados em norma;</li>
      <li class="cada-equipamento">Análise de fadiga clássica (S-N);</li>
      <li class="cada-equipamento">Análise de mecânica da fratura;</li>
      <li class="cada-equipamento">Via permanente;</li>
      <li class="cada-equipamento">Análise dinâmica (modal e vibração forçada considerando a interação superestrutura e veículo).</li>
    </ul>

    <div class="link-to-servicos-outisde-div">
      <%= link_to '/servicos', target: :_blank, class: 'link-to-servicos' do %>
        <div class="link-to-servicos-div">
          Conheça nossos serviços
        </div>
      <% end %>
    </div>

  </div>
</div>

