<div class="wrapper-page">
  <div class="container-page">
    <h1 class="page-title">Seguradoras e reguladoras</h1>

    <p class="page-content">
      A HRD possui um corpo técnico especializado em análises de equipamentos e estruturas para as mais variadas áreas da indústria. Isto nos permite fornecer perícias independentes com elevado nível técnico para levantamentos de hipóteses, determinação de causas raiz e elaboração de laudos.
    </p>

    <p class="page-content">
      Dentre as possíveis de atuação, destacam-se: estruturas metálicas, pontes, ferrovias, incidentes em guindastes, equipamentos de mineração, portos, siderurgia entre outros equipamentos mecânicos.
    </p>

    <%= render 'shared/servicos-links' %>

  </div>
</div>
