// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,4007,00|Oswald:300,400,700|Roboto+Condensed:300,400,700|Roboto:100,300,400,700");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";
$roboto: 'Roboto', 'sans-serif';
$robotocond: 'Roboto Condensed', 'sans-serif';
$oswald: 'Oswald', 'sans-serif';
$franklin: 'Libre Franklin', 'sans-serif';
