h1,h2,h3,h4,h5 {
  font-family: $roboto;
}

// Wrappers and containers

.wrapper-page {
  background-color: white;

  min-height: 100vh;
}

.container-page {
  a:link, a:hover, a:active, a:visited {
    text-decoration: none;
  }
}

.wrapper-error {
  background-color: rgba(230,230,230,1);

  min-height: calc(100vh);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-error {
  background-color: white;

  padding: 30px;

  border: 1px solid $azul;
  box-shadow: 1px 1px rgba(100,100,100,1);

  h1 {
    color: $azul;
    font-size: 40px;

    margin-bottom: 30px;
  }
  p {
    color: rgba(80,80,80,1);
    font-size: 18px;

    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-page{
    padding: 110px 250px 40px 250px;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper-page {
    padding: 100px 80px 40px 80px;
  }
  .wrapper-content {
    height-min: 150vh;
    padding: 5vh 18vw;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-page {
    padding: 100px 25px 40px 25px;
  }

  .wrapper-content {
    height-min: 150vh;
    padding: 5vh 5vw;
  }
}

.container-content {
  padding: 40px 0;
  border-top: 2px solid rgba(220,220,220,1);
  border-bottom: 2px solid rgba(220,220,220,1);
  margin: 5vh 0;
}

// Titles and text

.page-title {
  color: rgba(80,80,80,1);
  text-transform: uppercase;
  margin-bottom: 4vh;
  font-size: 2em;
  font-family: $roboto;
  font-weight: 700;
}

.page-subtitle {
  color: rgba(80,80,80,1);
  margin-bottom: 2vh;
  font-size: 1.6em;
  font-family: $roboto;
  font-weight: 600;
}

.page-description {
  color: rgba(50,50,50,1);
  margin-bottom: 1vh;
  font-size: 1.2em;
  font-family: $roboto;
  text-align:  justify;
}

.page-content {
  color: rgba(50,50,50,1);
  margin-bottom: 2vh;
  font-size: 1.1em;
  font-family: $roboto;
  text-align:  justify;
  text-indent: 1.5em;
}

.valores-lista li {
  color: rgba(50,50,50,1);
  margin-bottom: 2vh;
  font-size: 1.1em;
  font-family: $roboto;
  text-align:  justify;
  text-indent: 0.5em;
}


//Adaptacoes de tamanho de fonte para mobile
@media screen and (max-width: 768px) {
  .page-title {
    margin-bottom: 3vh;
    font-size: 2em;
    font-family: $roboto;
    font-weight: 700;
  }

  .page-subtitle {
    color: rgba(80,80,80,1);
    margin-bottom: 1.5vh;
    font-size: 1.5em;
    font-family: $roboto;
    font-weight: 600;
  }

  .page-description {
    color: rgba(50,50,50,1);
    margin-bottom: 1vh;
    font-size: 0.9em;
    font-family: $roboto;
    text-align:  justify;
  }

  .page-content {
    color: rgba(50,50,50,1);
    margin-bottom: 2vh;
    font-size: 0.9em;
    font-family: $roboto;
    text-align:  justify;
    text-indent: 1.5em;
  }

  .valores-lista {

    li {
      font-size: 0.9em;
      margin-bottom: 1vh;
      font-family: $roboto;
      text-align:  justify;
    }
  }
}
