.contact-info-header {
  color: $azul;
  font-size: 2em;
}

.contact-info-content {
  color: rgba(80,80,80,1);
  font-size: 1em;

  margin-bottom: 40px;
}

.contact-infos {
  text-align: left;
}


.alert-email-sent {
  border: 3px solid rgba(30,130,60,1);
  background: rgba(80,250,120,1);

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    margin: 0;
  }
}
