#contact-table-infos {
  background: white;
}

.contact-table-col-icon {
  height: 140px;
  width: 100px;

  padding-left: 30px;

  i {
    font-size: 50px;
    color: $azul;
  }
}

.contact-table-col-data {
  height: 140px;
  width: 500px;

  padding-left: 30px;
}

.contact-table-info-title {
  font-size: 25px;
  font-weight: bold;

  color: $azul;
}

.contact-table-info-info {
  font-size: 20px;
}
