.contact-info-header {
  color: $azul;
  font-size: 1.4em;
}

.contact-info-content {
  text-decoration:none;
  font-size: 1.0em;
  font-weight: 300;
  margin-bottom: 10px;
  color: rgba(100,100,100,1);

  i {
    text-decoration: none;
    color: $azul;
    font-size: 1.4em;
  }
}

.contact-infos {
  text-align: left;
}

.alert-email-sent {
  border: 3px solid rgba(30,130,60,1);
  background: rgba(80,250,120,1);

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    margin: 0;
  }
}

.modal-trabalhe-conosco-title {
  color: $azul;
  text-weight: bold;
}

.modal-body-par {
  color: rgba(100,100,100,1);
  text-align: justify;
  padding: 10px 20px;
  font-weight: lighter;
}

.trabalhe-conosco-link {
  color: rgba(120,120,120,1);
  font-size: 22px;
  font-weight: lighter;
}

.trabalhe-conosco-btn {
  margin-top: 50px;
  width: 300px;
  background: rgba(220,220,220,1);
  color: black;
}

.trabalhe-conosco-btn-link {
  a:link, a:hover, a:active, a:visited {
    text-decoration: none;
  }
}
