.equipe-cada-membro {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  height: auto;

  width: 100%;

  margin-bottom: 10px;
  padding: 30px;

  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, $azul-claro 100%);

  position: relative;
}

.equipe-cada-membro-left {
  flex: 0 0 30%;

  a:active, a:link, a:visited {
    text-decoration: none;

    color: $blue;
  }
}

.equipe-cada-membro-mid {
  flex: 0 0 10%;
}

.equipe-cada-membro-right {
  flex: 0 0 60%;

  text-align: left;
}

.equipe-cada-membro-foto {
  width: 80%;

  margin-bottom: 10px;
}

.linkedin-links {
  font-size: 30px;

  color: $azul;
}

.equipe-cada-membro-nome {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
}

.equipe-cada-membro-descricao {
  @media screen and (min-width: 600px) {font-size: 20px;}
  @media screen and (max-width: 600px) {font-size: 15px;}

  text-align: justify;
}

.equipe-cada-membro-downloadcurriculo {
  position: absolute;
  bottom: 10px;
  right:  30px;

  color: $azul;
}

.fa-file-download {
  color: $azul;
  margin-right:  10px;
  font-size: 25px;
}


