.equipe-cada-membro {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  height: auto;

  width: 100%;

  padding: 20px;
  margin-bottom: 10px;

  background: rgba(255,255,255,0.5);

  position: relative;

  border-bottom: 1px solid rgba(240,240,240,1);
}

.equipe-cada-membro-left {
  flex: 0 0 30%;

  a:active, a:link, a:visited {
    text-decoration: none;

    color: $blue;
  }
}

.equipe-linkedin-div-pictures {
  position: relative;
  top: 0;
  left: 0;
}

.equipe-cada-membro-foto {
  position: relative;
  top: 0;
  left: 0;
}

.equipe-cada-membro-foto-hrdlogo {
  position: absolute;
  bottom: 5%;
  right: 15%;

  width: 35%;
}

.equipe-cada-membro-mid {
  flex: 0 0 10%;
}

.equipe-cada-membro-right {
  flex: 0 0 100%;

  text-align: left;
}

.equipe-cada-membro-foto {
  width: 80%;

  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .equipe-cada-membro-foto {width: 100%;}

  @media screen and (max-width: 768px) {
    .equipe-cada-membro-foto-hrdlogo {
      bottom: 8%;
      right: 5%;

      width: 35%;
    }
  }
}

.equipe-cada-membro-nome {
  font-size: 30px;
  font-weight: 400;
  color: rgba(70,70,70,1);
  margin-top: 0;
  margin-bottom: 30px;
}

.equipe-cada-membro-cargo {
  font-size: 22px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 40px;
  color: rgba(150,150,150,1);
}

.equipe-cada-membro-descricao {
  @media screen and (min-width: 768px) {font-size: 18px;}
  @media screen and (max-width: 768px) {font-size: 15px;}

  text-align: justify;

  margin-bottom: 60px;

  @media screen and (max-width: 768px) {margin-bottom: 20px;}

  color: rgba(100,100,100,1);
}

.equipe-cada-membro-links {
  position: absolute;
  bottom: 20px;
  right:  30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a:active, a:link, a:visited {
    text-decoration: none;

    color: $azul;
  }
}

.linkedin-links {
  font-size: 25px;

  font-weight: 300;

  margin: 5px 10px 5px 0;

  color: $azul;
}

.equipe-cada-membro-downloadcurriculo {
  font-size: 25px;

  color: $azul;

  font-weight: 300;

  font-family: $roboto;
}

.equipe-cada-membro-downloadcurriculo-mobile-div {
  border: 1px solid $azul;
  height: 50px;

  display: flex;
  align-items: center;

  background: $azul;

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  a {
    font-size: 20px;

    i {
      font-size: 20px;
    }

    h2 {
      font-size: 20px;
      margin: 0;
    }
  }

  margin-bottom: 5px;
}

.equipe-cada-membro-downloadcurriculo-mobile {
  color: white;

  font-weight: lighter;

  width: 100%;
}

.fa-file-download {
  color: branco;
  margin-right:  10px;
  font-size: 25px;
}

.equipe-cada-membro-linkedin-mobile-div {
  border: 1px solid $azul;
  height: 50px;

  display: flex;
  align-items: center;

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  a {
    font-size: 20px;

    i {
      font-size: 20px;
    }

    h2 {
      font-size: 20px;
      margin: 0;
    }
  }
}

.equipe-cada-membro-linkedin-mobile {
  color: $azul;

  width: 100%;

  h2 {font-weight: 300;}
}



