.home-about-buttons {
  margin-top: 7vh;
  margin-bottom:  7vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conheca-mais-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 2px solid rgba(150,150,150,1);
  border-radius: 25px;
  text-transform: uppercase;
  color: rgba(150,150,150,1);

  &:hover {
    background-color: rgba(150,150,150,1);
    color: white;
    transition: 150ms ease;
  }
}

@media screen and (min-width: 1400px) {
  .conheca-mais-btn {
    padding: 40px 8vw;
    font-size: 1em;
  }
}

@media screen and (max-width: 1400px) {
  .conheca-mais-btn {
    padding: 40px 5vw;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px) {
  .conheca-mais-btn {
    padding: 40px 2vw;
    font-size: 0.8em;
  }
}

.come-in {
  transform: translateY(150px);
  animation: come-in 1.1s ease forwards;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
