.home-about-buttons {
  margin-top: 7vh;
  margin-bottom:  7vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conheca-mais-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 2px solid rgba(150,150,150,1);
  border-radius: 25px;
  text-transform: uppercase;
  color: rgba(150,150,150,1);

  width: auto;
  padding: 30px 50px;
  min-padding: 30px 20px;

  &:hover {
    background-color: rgba(150,150,150,1);
    color: white;
    transition: 150ms ease;
  }
}

.come-in {
  transform: translateY(150px);
  animation: come-in 1.1s ease forwards;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
