.home-about-buttons {
  margin: 7vh auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 80%;

  padding: 0 10px;

  .row {
    width: 100%;
  }
}

.conheca-mais-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 2px solid rgba(150,150,150,1);
  border-radius: 25px;
  text-transform: uppercase;
  color: rgba(150,150,150,1);
  font-size: 18px;

  padding: 20px 0;
  width: 100%;

  margin-bottom: 10px;

  &:hover {
    background-color: rgba(150,150,150,1);
    color: white;
    transition: 150ms ease;
  }
}


@media screen and (max-width: 400px) {
  .home-about-buttons {
    margin: 4vh auto;
  }
  .conheca-mais-btn {
    font-size: 14px;
  }
}
