.cada-servico {
  padding: 2px 30px;

  background: rgba(250,250,250,1);

  margin-bottom: 8px;

  &:hover {
    background: rgba(204, 223, 255,1);
  }


  ul>li {
    font-family: $roboto;
    font-size: 16px;
    font-weight: 300;
    color: rgba(120,120,120,1);
  }
}

.servico-title {
  font-size: 18px;
  font-weight: lighter;
  color: black;
}

.servicos-links {
  margin: 7vh auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 0 10px;

  .row {
    width: 100%;
  }
}

.servicos-cada-link {
  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 25px;
  text-transform: uppercase;
  color: white;
  background: $azul;
  font-size: 16px;

  padding: 20px 0;
  width: 100%;

  margin-bottom: 10px;

  &:hover {
    color: white;
    background-color: $azul-logo;
    transition: 150ms ease;
  }
}

.servicos-link-voltar {
  color: rgba(150,150,150,1);
  border: 1px solid rgba(100,100,100,1);
  background: white;

  &:hover {
    background: rgba(150,150,150,1);
    color: white;
  }
}


@media screen and (max-width: 400px) {
  .servicos-links {
    margin: 4vh auto;
  }
  .servicos-cada-link {
    font-size: 14px;
  }
}

.lista-equipamentos {

  li {
    margin-bottom: 5px;
    padding-left: 10px;


  }
}


