<div class="titulo-cases"><h1>Modelagem 3D: Fixação de painéis fotovoltaicos</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Necessário projeto de estrutura para fixação de painéis fotovoltaicos em telhado de concreto.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Brainstorm e discussão conceitual, dimensionamento da estrutura conforme NBR-8800 e AISC-360, elaboração de modelo CAD 3D e desenhos 2D de fabricação.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Previsibilidade das interferências de montagem, lista de material precisa para avaliação da viabilidade do projeto, visual do projeto para aprovação da diretoria do cliente e discussão técnica da ordem de montagem e estratégias de içamento das peças.</p>
<br>
<div align="center" > 
    <%= image_tag "modelagem1-1.png", class: 'cases-image65' %>
    <div class="legenda"><p>Estrutura de suporte de painéis fotovoltaicos (montagem e estrutura) – modelo CAD 3D.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "modelagem1-2.png", class: 'cases-image75' %>
    <div class="legenda"><p>Estrutura de suporte de painéis fotovoltaicos (detalhe do apoio) – modelo CAD 3D.</p></div>
</div><br>