<div class="titulo-cases"><h1>Modelagem 3D: Retenção de material em porto</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Impacto ambiental com emissão de finos e queda de material incrustado ao mar durante procedimento de limpeza do carregador de navios.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Definição de pontos otimizados para instalação de raspadores, lavadores e projeto 2D e 3D de calhas para retenção de finos e material desprendido.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Gêmeo digital da máquina agregado e atualizado com modelos 3D produzidos e cobertura de 60% da área passível de queda com calhas.</p>
<br>
<div align="center" > 
    <%= image_tag "modelagem3-1.png", class: 'cases-image75' %>
    <div class="legenda"><p>Estruturas das calhas fixadas na máquina (posição avançada) – modelo CAD 3D.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "modelagem3-2.png", class: 'cases-image75' %>
    <div class="legenda"><p>Estruturas das calhas fixadas na máquina (posição recuada) – modelo CAD 3D.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "modelagem3-3.png", class: 'cases-image65' %>
    <div class="legenda"><p>Detalhe da estrutura da calha fixa sob o carro – modelo CAD 3D.</p></div>
</div><br>