<div class="titulo-cases"><h1>Elaboração de modelos 3D de soluções mecânicas em transferências de transportadores de correia</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Apresentar, por meio de modelos 3D conceituais, as soluções mecânicas utilizadas para a redução da emissão de material particulado em transferências de transportadores de correia.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Modelagem 3D no software SolidWorks das transferências dos transportadores ressaltando as soluções mecânicas propostas.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Visualização clara e didática das soluções propostas para redução da emissão do material particulado. Utilização dos modelos 3D para elaboração de apresentações gerenciais e de um vídeo promocional para o cliente contemplando as soluções adotadas.</p>
<br>
<div align="center" > 
    <%= image_tag "cad5-1.png", class: 'cases-image65' %>
    <div class="legenda"><p>Reengenharia de transferência – Modelo CAD 3D.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "cad5-2.png", class: 'cases-image65' %>
    <div class="legenda"><p>Enclausuramento da transferência – Modelo CAD 3D.</p></div>
</div><br>