<div class="titulo-cases"><h1>Carenagem de carro amostrador</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Preocupação do proprietário com a integridade estrutural do equipamento para a condição de acúmulo de material em sua parte superior. </p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Cálculo e distribuição de carga máxima de material incrustado na cobertura e verificação do estado limite último estrutural.</p>
<div class="topico"><p>Indicado ao cliente ajuste de torque nos chumbadores de fixação para adequação à condição indicada.</p>
<br>
<div align="center" > 
    <%= image_tag "carrenagemdecarroamostrador1.png", class: 'cases-image40' %>
    <div class="legenda"><pResultado da análise estrutural de uma carenagem de um carro amostrador – sem pretensão adequada nos chumbadores.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "carrenagemdecarroamostrador2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Resultado da análise estrutural de uma carenagem de um carro amostrador – com ligação adequada.</p></div>
</div><br>