<div class="titulo-cases"><h1>Máquinas de porto: Carregador de navios</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Suporte técnico especializado requisitado após detecção de descontinuidade durante ensaio não destrutivo em solda de grande responsabilidade da máquina.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Análise estrutural e mecânica conforme norma FEM Section II, AISC 360-16, NBR 8800, DNVGL-RP-C208 e EN-1993-1-9.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Liberação da máquina para operação com base nos resultados de fadiga, sendo a ação recomendada realização de ensaios não destrutivos periódicos.</p>
<br>
<div align="center" > 
    <%= image_tag "carregador1.png", class: 'cases-image75' %>
    <div class="legenda"><p>Modelo em elementos finitos do carregador de navios.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "carregador2.png", class: 'cases-image75' %>
    <div class="legenda"><p>Região de interesse onde foram encontradas descontinuidades com ensaio não destrutivo realizado em campo.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "carregador3.png", class: 'cases-image50' %>
    <div class="legenda"><p>Resultado da análise de fadiga da região de interesse.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "carregador4.png", class: 'cases-image65' %>
    <div class="legenda"><p>Soldas a serem inspecionadas em região crítica (reprovada na análise de fadiga) constatada na análise completa da máquina.</p></div>
</div><br>