<div class="titulo-cases"><h1>Análise CFD dos módulos de refrigeração dos gases a alta temperatura</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Validar a geometria proposta e parâmetros da água dos módulos de refrigeração de uma chaminé de alto forno.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Realização de análises termofluidodinâmicas das coifas e chaminés. Mapeamento do comportamento térmico dos módulos e avaliação do desempenho do fluido refrigerante. Proposição de adequações e melhorias na eficácia do processo de refrigeração, tais como adaptações geométricas, subdivisão de módulos e redução localizada da vazão do fluido.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Sistema de refrigeração funcional e seguro, adequação do consumo de água necessário para cada módulo conforme a solicitação e a geometria, eficácia durante o funcionamento dos fornos. </p>
<br>
<div align="center" > 
    <%= image_tag "CFDmodulosderefrigeracao1.png", class: 'cases-image40' %>
	<div class="legenda"><p>Necessidade de reavaliação do sistema de pressão de água: variação de pressão de 78,7% – módulo 4 da chaminé.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "CFDmodulosderefrigeracao2.png", class: 'cases-image40' %>
	<div class="legenda"><p>Distribuição de temperatura da água: proposta de melhoria através de 2 fluxos de água independentes – módulo 1 da chaminé.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "CFDmodulosderefrigeracao3.png", class: 'cases-image40' %>
    <div class="legenda"><p>Distribuição de temperatura da água – módulo 2 da coifa.</p></div>
	</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "CFDmodulosderefrigeracao4.png", class: 'cases-image40' %>
	<div class="legenda"><p>Distribuição de temperatura da água após inversão do fluxo de água e suavização das quinas – módulo 2 da coifa. </p></div>
</div><br>