<div class="titulo-cases"><h1>2.7.2	Análise CFD dos efeitos do vento em regime permanente sobre o rastreador solar</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Um dos maiores pontos de atenção durante o projeto de rastreadores solares é a garantia de sua integridade quando sob o efeito de rajadas de vento. É de extrema importância a adequação do projeto de forma a garantir sua funcionalidade e integridade durante e após estes eventos.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Realização de análises fluidodinâmicas. Aplicação do perfil de velocidade variável com a altura em relação ao solo. Obtenção das forças resultantes, coeficientes de momento e pressão para os ângulos de inclinação dos painéis – de -55° a 55° - e diferentes velocidades básicas do vento. Consideração da influência de rastreadores em série.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Projeto do rastreador solar confiável do ponto de vista mecânico-estrutural e adaptado para solicitações de vento diversas. </p>
<br>
<div align="center" > 
    <%= image_tag "CFDrastreadorsolar1.png", class: 'cases-image40' %>
	<div class="legenda"><p>Distribuição de velocidade do vento: inclinação do painel a 55°, velocidade básica de 10m/s, incidência de vento a 0°.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "CFDrastreadorsolar2.png", class: 'cases-image40' %>
	<div class="legenda"><p>Coeficiente de pressão na superfície do painel a 15°, vento com velocidade básica de 10m/s, incidência de vento a 180°.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "CFDrastreadorsolar3.png", class: 'cases-image40' %>
    <div class="legenda"><p>Distribuição de velocidade do vento: inclinação do painel a 55°, velocidade básica de 35m/s, série de 4 painéis, incidência de vento a 0°.</p></div>
</div><br>