<div class="titulo-cases"><h1>Transportador de correia curvo</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p> Adequação do projeto produto novo a ser lançado no mercado aos critérios de dimensionamento estrutural das normas relevantes.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p> Cálculo, aplicação de cargas e verificação segundo critérios da NBR 6123 (vento) AISC-360-16 (perfis laminados e soldados), AISE-96 (perfis formados a frio) e NBR 8800 (ligações).</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Otimização estrutural do equipamento com redução de 32% de peso e maior confiabilidade em sua integridade estrutural.</p>
<br>
<div align="center" > 
    <%= image_tag "curvo1.png", class: 'cases-image50' %>
    <div class="legenda"><p>Resultado da análise da estrutura original.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "curvo2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Otimização da estrutura alcançada com a análise.</p></div>
</div><br>
