<div class="titulo-cases"><h1>Análise DEM: Chute de transferência</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p> Reduzir a geração de poeira nos chutes de transferência de uma usina de pelotização.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p> Estudo da trajetória do material, análise via Método dos Elementos Discretos (DEM) da transferência existente (modelo Caixa de Pedra) e proposta de um novo conceito de chute (modelo Hood-Spoon).</p>
<div class="topico"><p>Resultados alcançados:</p></div><p> Redução da quebra de pelotas (geração de particulados), redução do desalinhamento e desgaste da correia, estabilidade do fluxo e garantia de não entupimento.</p>
<br>
<div align="center" > 
    <%= image_tag "dem1.png", class: 'cases-image50' %>
    <div class="legenda"><p>Comparação de desgaste por impacto nas pelotas entre o Chute Original e o Chute proposto pela HRD.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "dem2.png", class: 'cases-image50' %>
    <div class="legenda"><p>Vazão de material na correia de recebimento. Comparação entre o Chute Original e o Chute proposto pela HRD.</p></div>
</div><br>