<div class="titulo-cases"><h1>Análise DEM: Válvula desviadora de fluxo</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Avaliar risco de entupimento de chutes em um projeto para instalação de válvulas de desvio de fluxo. Obter as curvas de distribuição do fluxo em função da abertura da válvula.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Análise via Método dos Elementos Discretos (DEM) para estudo do fluxo de material em diferentes posições das válvulas de desvio de fluxo. </p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Atestado que não ocorrerá entupimento dos chutes independente da posição das válvulas, validando o conceito do projeto e garantindo uma operação contínua e segura com regulagem da distribuição do fluxo de saída.</p>
<br>
<div align="center" > 
    <%= image_tag "desviadora1.png", class: 'cases-image50' %>
    <div class="legenda"><p>Gráfico de fluxos de entrada e saída por tempo para verificação de entupimento de chute.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "desviadora2.png", class: 'cases-image50' %>
    <div class="legenda"><p>Análises DEM para estudo do fluxo de material em diferentes posições da válvula de desvio de fluxo.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "desviadora3.png", class: 'cases-image50' %>
    <div class="legenda"><p>Gráfico de distribuição de fluxo em função da abertura da válvula obtido a partir dos resultados das análises DEM.</p></div>
</div><br>