<div class="titulo-cases"><h1>Máquinas de pátio: Empilhadeira/Recuperadora</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p> Máquina antiga com estágio avançado de degradação em algumas regiões, inadequada para uso com capacidade de projeto original – requisitado estudo para avaliação de possibilidade de operação com taxa reduzida.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p> Análise estrutural e mecânica conforme norma FEM Section II, AISC 360-16, NBR 8800, DNVGL-RP-C208, AS 3774 e EN-1993-1-9.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p> Pesos estruturais estimados com base no modelo em elementos finitos desenvolvido. Emitido procedimento técnico contemplando todos os passos necessários para desmontagem completa da máquina para revitalização em oficina ou descarte (sucateamento).</p>
<br>
<div align="center" > 
    <%= image_tag "empilhadeira.png", class: 'cases-image75' %>
    <div class="legenda"><p>Modelo numérico desenvolvido para estimativa de pesos.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "empilha2.png", class: 'cases-image75' %>
    <div class="legenda"><p>Esquema de içamento do portal de giro da máquina.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "empilha3.png", class: 'cases-image75' %>
    <div class="legenda"><p>Análise do balancim projeto para auxiliar na desmontagem.</p></div>
</div><br>