<div class="titulo-cases"><h1>Gaiola Pneus fora de estrada</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Assegurar confiabilidade de um dispositivo de proteção utilizado durante a calibração de pneus de fora de estrada.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Verificação com base nas recomendações da OSA 1910.177, DNVGL-RP-C208 e AISC-360-16.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Identificação de não conformidade e adequação da especificação das soldas traseiras da gaiola (aumento do tamanho do filete).</p>
<br>
<div align="center" > 
    <%= image_tag "gaiolapneus1.png", class: 'cases-image40' %>
    <div class="legenda"><p>Resultado de deslocamentos da estrutura no caso de explosão do pneu durante o enchimento.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "gaiolapneus2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Soldas não conformes a serem reespecificadas.</p></div>
</div><br>