<div class="titulo-cases"><h1>Análise mecânica de Transportador de Correia de Longa Distância (TCLD)</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Dimensionamento dos componentes mecânicos de um TCLD para estabelecimento de linha para manuseio de rejeitos provenientes de descomissionamento de barragem.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Estudo do comportamento transiente do transportador via análise dinâmica, dimensionamento do sistema de acionamento, estudo da trajetória do material baseado em critérios definidos na CEMA (Referência técnica para especificações de transportadores de correia) .</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Especificações dos equipamentos mecânicos determinadas de modo a garantir o funcionamento do TCLD conforme as características operacionais desejadas, fornecendo direcionamento para o projeto executivo e possibilitando cálculo refinado de seu CAPEX.</p>
<br>
<div align="center" > 
    <%= image_tag "tcld1.png", class: 'cases-image75' %>
    <div class="legenda"><p>Tensões na correia do TCLD durante o transiente de parada.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "tcld2.png", class: 'cases-image65' %>
    <div class="legenda"><p>Velocidade da correia do TCLD durante o transiente de parada de emergência.</p></div>
</div><br>