<div class="titulo-cases"><h1>Projeto básico (FEL3) de linha TCLD</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Necessidade de transporte de material do procedimento de filtragem até o pátio para descomissionamento de barragem de rejeitos a montante, a fim de eliminar seu risco de colapso estrutural.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Avaliação do projeto conceitual (FEL2), trabalho conjunto da equipe de projeto e equipe de engenharia, dimensionamento e verificação mecânica dos transportadores de correia, especificação técnica de máquina de pátio, dimensionamento e verificação estrutural, elaboração de desenhos 2D e de CAD 3D.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Desenhos 2D, CAD 3D e especificação dos equipamentos descrevendo o projeto de forma precisa para serem utilizados na etapa de projeto executivo, permitindo o cálculo de seu orçamento e definição de escopo de forma assertiva. </p>
<br>
<div align="center" > 
    <%= image_tag "FEL3-1.png", class: 'cases-image75' %>
    <div class="legenda"><p>Modelagem 3D de um transportador componente da linha TCLD.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "FEL3-2.png", class: 'cases-image50' %>
    <div class="legenda"><p>Desenho técnico da máquina de pátio especificada.</p></div>
</div><br>