<div class="titulo-cases"><h1>Desenvolvimento de metodologia para classificação de riscos estruturais</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Desenvolvimento de ferramenta priorização de inspeções e intervenções em estruturas da Samarco (corporativo), de forma a direcionar recursos de forma otimizada com base na mitigação efetiva de riscos operacionais.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Fluxograma do processo de inspeção e priorização via técnica da matriz GUT.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>O resultado das inspeções definirá a criticidade do ativo quanto aos critérios definidos, sendo a nota final indicadora da priorização de futuras intervenções estruturais em ativos.</p>
<br>
<div align="center" > 
    <%= image_tag "predioindustrial1.png", class: 'cases-image40' %>
    <div class="legenda"><p>Evidência dos danos</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "predioindustrial2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Evidência dos danos</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "predioindustrial3.png", class: 'cases-image65' %>
    <div class="legenda"><p>Classificação do ativo conforme criticidade dos danos.</p></div>
</div><br>