<div class="titulo-cases"><h1>Moega de um descarregador de navios</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Quinas das moegas com histórico de nucleação de trincas.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Análise de tensões e fadiga conforme Eurocode 3. Cargas de enchimento e impacto calculadas conforme AS3774.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Proposta de reforço aumentando a vida útil da estrutura e garantindo a sua integridade estrutural.</p>
<br>
<div align="center" > 
    <%= image_tag "moegadescarregador1.png", class: 'cases-image40' %>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "moegadescarregador2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Pressões de descarga atuantes na moega calculados conforme AS3774.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "moegadescarregador3.png", class: 'cases-image40' %>
    <div class="legenda"><p>Resultado da análise estática da moega considerando a estrutura original (acima) e a estrutura reforçada (abaixo).</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "moegadescarregador4.png", class: 'cases-image40' %>
    <div class="legenda"><p>Resultado da análise de fadiga da moega considerando a estrutura original (acima) e a estrutura reforçada (abaixo).</p></div>
</div><br>