<div class="titulo-cases"><h1>Análise Termoestrutural de panela siderúrgica </h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Como forma de revitalizar os equipamentos da fábrica e aumentar a produtividade, foi requisitado o dimensionamento estrutural de uma panela siderúrgica adequada ao repotenciamento do forno ao qual será aplicada.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Foram realizadas análises térmicas transientes do equipamento para obtenção dos gradientes de temperatura, utilizados para a realização das análises termoestruturais e a avaliação de requisitos mínimos para operação determinados com base na norma AIST TR-09. Após a avaliação da norma, foram propostas adequações, tais como adaptações geométricas, troca de materiais da estrutura metálica e adição de material isolante. Todas as propostas foram validadas com a análise termoestrutural e então comparadas com o projeto original, constatando o impacto positivo das propostas. </p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Com as alterações propostas, obteve-se um projeto de panela mais produtiva e confiável (aderente aos requisitos normativos relevantes), com aumento esperado de 100% em sua vida útil.</p>
<br>
<div align="center" > 
    <%= image_tag "panelasiderurgica1.png", class: 'cases-image40' %>
	<div class="legenda"><p>Comparação da variação de temperatura da estrutura metálica da panela do projeto original com o proposto.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "panelasiderurgica2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Comparação da variação de temperatura da estrutura metálica da panela do projeto original com o proposto.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "panelasiderurgica3.png", class: 'cases-image40' %>
	<div class="legenda"><p>Distribuição de tensões de Von Mise na estrutura metálica da panela após aplicação das alterações propostas.</p></div>