<div class="titulo-cases"><h1>Píer de concreto armado</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Avaliação da possibilidade de pesagem de carregador de navios (sem risco à integridade estrutural do píer) e melhor posição no píer para a operação. </p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Identificação de região de maior resistência da estrutura do píer e aplicadas cargas esperadas em cada ponto de macaqueamento durante pesagem. Estrutura de concreto verificada com base nos momentos fletores máximos.</p>
<div class="topico"><p>Possibilidade de pesagem seguindo métodos tradicionais descartada por insuficiência da estrutura do píer.</p>
<br>
<div align="center" > 
    <%= image_tag "pierdeconcretoarmado1.png", class: 'cases-image40' %>
    <div class="legenda"><p>Resultado de I.U. das vigas na região de maior resistência. </p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "pierdeconcretoarmado2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Resultado de I.U. das estacas na região de maior resistência.</p></div>
</div><br>