<div class="titulo-cases"><h1>Recuperadora: Viga porta-roda danificada</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Viga porta-roda da máquina danificada, com muita incerteza do peso e da integridade estrutural apresentando risco de falha em operação, sendo necessária substituição do componente. A máquina como um todo recebeu diversas intervenções não programadas, resultando em desconhecimento da real condição da estrutura, apresentando necessidade diagnose do grau de conservação e riscos para funcionamento seguro.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Elaboração dos procedimentos e verificação estrutural para todas as etapas dos procedimentos de troca e balanceamento do sistema de elevação. Investigação das análises e intervenções realizadas durante a vida da máquina, compilando toda a documentação da máquina, para organizar em uma linha do tempo os principais registros da condição do equipamento.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Emitido procedimento técnico contemplando todos os passos necessários para troca da viga porta-roda e para balanceamento da elevação, garantindo substituição segura do componente e calibração do sistema de elevação para estender a vida útil do rolamento de giro e cilindro hidráulico de elevação. Emitidos planos detalhados, contendo os reparos requeridos para garantir que a máquina opere por mais 4, 10 ou 20 anos, com estimativa de custos para cada plano de ação, de forma a verificar o mais rentável dada a produtividade do equipamento e o custo de substituição dele.</p>
<br>
<div align="center" > 
    <%= image_tag "porta-roda1.png", class: 'cases-image65' %>
    <div class="legenda"><p>Modelo em elementos finitos para avaliação da parte superior da máquina durante os procedimentos.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "porta-roda2.png", class: 'cases-image50' %>
    <div class="legenda"><p>Parte do procedimento de troca da viga porta-roda – suporte da lança para remoção de contrapeso e equipamentos.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "porta-roda3.png", class: 'cases-image50' %>
    <div class="legenda"><p>Resultados de índice de utilização dos perfis da lança durante procedimento.</p></div>
</div><br><br><br><br>