<div class="titulo-cases"><h1>Prédio de processos</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Avaliação de integridade e adequação normativa de prédios de fornos de pelotização para retomada segura da operação. </p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Cálculo, aplicação de cargas e verificação segundo critérios da NBR 6123 (vento) AISC-360-16 (perfis laminados e soldados) e NBR 8800 (ligações), além de especificações internas do cliente.</p>
<div class="topico"><p>Estrutura aprovada para retomada de operação após realinhamento do caminho de rolamento do carro grelha, que apresentou desalinhamento excessivo em ensaio topográfico.</p>
<br>
<div align="center" > 
    <%= image_tag "prediodeprocessos1.png", class: 'cases-image40' %>
    <div class="legenda"><p>Verificação e índice de utilização dos elementos perfilados para atender a critérios mínimos de estado limite último. </p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "prediodeprocessos2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Verificação de deslocamentos máximos para atender critérios mínimos de estado limite de serviço.</p></div>
</div><br>