<div class="titulo-cases"><h1>Prédio industrial</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Inspeção de integridade estrutural para identificação de ações necessárias para operação segura do processo produtivo – Edificação de 55 anos em operação. </p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Inspeção sensitiva visual e classificação dos danos conforme sua criticidade.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>O resultado  das inspeções indicou danos, anomalias, patologia e demais não conformidade, definindo a criticidade do ativo quanto aos critérios definidos e estabelecendo um plano de ações priorizados de acordo com a criticidade de cada região.</p>
<br>
<div align="center" > 
    <%= image_tag "predioindustrial1.png", class: 'cases-image40' %>
    <div class="legenda"><p>Evidência dos danos</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "predioindustrial2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Evidência dos danos</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "predioindustrial3.png", class: 'cases-image65' %>
    <div class="legenda"><p>Classificação do ativo conforme criticidade dos danos.</p></div>
</div><br>