<div class="titulo-cases"><h1>Sistema de despoeiramento – projeto mecânico</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Repotenciamento da linha de transportadores de 10.000 t/h para 16.000 t/h (capacidade de projeto).</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Realização de avaliação e validação do projeto conceitual, por meio da elaboração de um relatório de consolidação do projeto, verificação de grau de enchimento para as novas capacidades, verificação mecânica de todos os componentes dos transportadores, elaboração de desenhos 2D de arranjos contendo as modificações requeridas ao repotenciamento e de desenhos detalhando os novos componentes a serem instalados. Por fim, elaboração de toda a documentação técnica para requisição de serviços de engenharia, fornecimento e montagem das modificações requeridas para o repotenciamento.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Proposição de novos componentes mecânicos para substituição dos componentes inadequados às cargas de repotenciamento, a partir de desenhos 2D e documentação técnica requerida. Além disso, foi gerada documentação contendo as informações necessárias à execução do projeto detalhado, bem como fornecimento de insumos e indicação das análises a serem realizadas.</p>
<br>
<div align="center" > 
    <%= image_tag "repotenciamentodelinha1.png", class: 'cases-image40' %>
	<div class="legenda"><p>Velocidade da correia do transportador de correia de longa distância (TCLD) durante a partida com capacidade de projeto.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "repotenciamentodelinha2.png", class: 'cases-image40' %>
	<div class="legenda"><p>Modificação no conjunto de acionamento do transportador da Lança do Carregador de Navios.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "repotenciamentodelinha3.png", class: 'cases-image40' %>
    <div class="legenda"><p>índice de utilização das rodas do sistema de translação do transportador móvel.</p></div>
</div><br>