<div class="titulo-cases"><h1>Sistema de despoeiramento – projeto mecânico</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Projetar novo sistema de despoeiramento de uma unidade de britagem primária para redução de particulados (sistema instalado ineficaz).</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Projeto baseado no livro Industrial Ventilation: A Manual of Recommended Practice (ACGIH, 1998) e nas normas NR-15, NBR12019, NBR 16101:2012, NBR 14679, ISO 10816-3 e BS 848.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Repotenciamento do sistema minimizando a presença de particulados suspensos.</p>
<br>
<div align="center" > 
    <%= image_tag "sistemadedespoeiramento1.png", class: 'cases-image40' %>
	<div class="legenda"><p>Comparativo dos sistemas de despoeiramento original e projeto HRD.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "sistemadedespoeiramento2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Comparativo entre as vazões por bocal do projeto original do sistema de despoeiramento e o novo projeto HRD.</p></div>
</div><br>