<div class="titulo-cases"><h1>Tambor de transportador de correia </h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p> Verificação e memorial de cálculo do tambor de acionamento a ser implantado em um complexo minerário.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p> Cálculo e aplicação de argas segundo especificações técnicas do cliente final e verificação da vida útil (fadiga) segundo critérios da IIW- (equipamentos rotativos – “very high cycle”).</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Reprovação e reprojeto da solda entre o cubo e espelho do tambor e do anel de expansão originalmente especificado.</p>
<br>
<div align="center">
    <%= image_tag "tambor1.png", class: 'cases-image65' %>
    <div class="legenda"><p>Análise da solda entre o cubo e o disco lateral.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "tambor2.png", class: 'cases-image75' %>
    <div class="legenda"><p>Análise “hot spot” da solda entre o disco lateral e o cilindro.</p></div>
</div><br>