<div class="titulo-cases"><h1>Tanque de armazenamento de 8000 m³ de água </h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Estrutura inutilizada por um longo período com desejo de revitalização do proprietário.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Carregamentos atuantes e análise de tensões conforme API650. A estabilidade de perfis de sustentação do teto conforme AISC-360-16.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Apresentação de duas soluções: extensão de vida útil sem a necessidade de reforço indicando limites operacionais; adequação estrutural para operação segura com 100% da capacidade do tanque.</p>
<br>
<div align="center" > 
    <%= image_tag "tanquedearmazenamento1.png", class: 'cases-image40' %>
	<div class="legenda"><p>Mapa de espessuras no costado advindo de levantamento (esquerda) e tensões atuantes na estrutura (esquerda) em suas condições de campo.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "tanquedearmazenamento2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Tensões atuantes na estrutura reforçada.</p></div>
</div><br>