<div class="titulo-cases"><h1>Análise mecânica de Transportador de Correia de pátio de minério </h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>O Transportador de Correia instalado em pátio de minério apresentou falha recorrente durante a partida quando carregado de material (mesmo com enchimento abaixo da capacidade de projeto). Objetivou-se determinar a causa da falha e elaborar proposta de solução.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Estudo das curvas de acionamento dos motores e dos acoplamentos hidrodinâmicos, via análise dinâmica da partida. Verificação da potência consumida e pico de torque requerido para partida, baseado em critérios definidos na CEMA (Referência técnica para especificações de transportadores de correia). </p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Indicada causa raiz da falha e apresentadas propostas de intervenção. As modificações foram realizadas e o transportador passou a partir sob carga máxima de projeto sem ocorrência de anormalidades.</p>
<br>
<div align="center" > 
    <%= image_tag "tcpatiodeminerio1.png", class: 'cases-image40' %>
	<div class="legenda"><p>Perfil do Transportador de Correia avaliado.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "tcpatiodeminerio2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Diferentes condições de carregamento avaliadas.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "tcpatiodeminerio3.png", class: 'cases-image40' %>
    <div class="legenda"><p>Curva de seleção de acoplamentos hidrodinâmicos.</p></div>
</div><br><br><br><br>
<div align="center" > 
    <%= image_tag "tcpatiodeminerio4.png", class: 'cases-image40' %>
	<div class="legenda"><p>Novo acoplamento hidrodinâmico instalado.</p></div>
	</div><br>