<div class="titulo-cases"><h1>Transportador de correia convencional</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>: : Avaliação da condição estrutural dos transportadores com a implantação de tapamento lateral em toda sua extensão. </p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Cálculo, aplicação de cargas e verificação segundo critérios da NBR 6123 (vento) AISC-360-16 (perfis laminados e soldados) e NBR 8800 (ligações), além de especificações internas do cliente.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Estrutura não adequada para receber os acréscimos de carregamentos de vento devido ao tapamento total do equipamento e a inclusão da calha ao longo do transportador, além de identificado risco de acoplamento modal.</p>
<br>
<div align="center" > 
    <%= image_tag "transportadordecorreiaconvencional1.png", class: 'cases-image40' %>
    <div class="legenda"><p>Resultado da análise da estrutura original. </p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "transportadordecorreiaconvencional2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Frequência natural com alto risco de acoplamento com a excitação dos roletes identificada na análise modal.</p></div>
</div><br>