<div class="titulo-cases"><h1>Trincas no britador de mandíbula</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Detecção de trincas recorrentes na carcaça do britador de mandíbula levando à indisponibilidade e ao sucateamento do equipamento, apontou a necessidade de auditoria técnica do projeto.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Levantamento das causas prováveis da falha, elaboração de modelo em elementos finitos do britador, calibração de modelo a partir de ensaios de campo (acelerometria e extensometria), análise de fadiga conforme IIW-2259-15, análise de mecânica da fratura.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p>Determinação de causa raiz das falhas e proposição de modificações no projeto original para eliminar esta causa de trincas prematuras e estender a vida em fadiga da estrutura.</p>
<br>
<div align="center" > 
    <%= image_tag "trincas-britador1.png", class: 'cases-image50' %>
    <div class="legenda"><p>Diagrama espinha de peixe – levantamento de hipóteses de causa da falha.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "trincas-britador2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Modelo em elementos finitos do britador de mandíbula.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "trincas-britador3.png", class: 'cases-image50' %>
    <div class="legenda"><p>Variação de tensão de fadiga calculada por hot-spot – Vida esperada em ciclos antes e depois dos procedimentos recomendados.</p></div>
</div><br><br><br><br>