<div class="titulo-cases"><h1>Máquinas de pátio: Virador de vagões</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p> Projeto de levantamento de riscos e não conformidades de ativos para aumento de confiabilidade e segurança operacional.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p> Análise estrutural e mecânica conforme norma FEM Section II, AISC 360-16, NBR 8800, DNVGL-RP-C208 e EN-1993-1-9.</p>
<div class="topico"><p>Resultados alcançados:</p></div><p> Redimensionamento do conjunto de acionamento e frenagem para adequação às condições operacionais atuais do equipamento. Novo projeto do eixo do pinhão que apresentava falhas sucessivas e prematuras.</p>
<br>
<div align="center" > 
    <%= image_tag "virador1.png", class: 'cases-image40' %>
    <div class="legenda"><p>Modelo numérico desenvolvido para as análises.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "virador2.png", class: 'cases-image50' %>
    <div class="legenda"><p>Resultado de potência requerida para o sistema de giro.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "virador3.png", class: 'cases-image65' %>
    <div class="legenda"><p>Resultado da verificação mecânica do eixo do pinhão de giro.</p></div>
</div><br><br><br><br>
