<div class="wrapper-error">
  <div class="container-error">
    <h1>Página não encontrada</h1>
    <p>A página que você está tentando acessar não foi encontrada em nossos servidores.</p>
    <%= link_to 'Voltar para página principal', '/home' %>
  </div>
</div>
