<div class="titulo-cases"><h1>Cavalete autoalinhante de um transportador de correia</h1><br></div>
<div class="topico"><p>Motivação da análise:</p></div><p>Projeto estrutural de um cavalete autoalinhante a ser implantado em um complexo minerário.</p>
<div class="topico"><p>Desenvolvimento:</p></div><p>Condições limites avaliadas segundo recomendação da CEMA, vida útil (fadiga) calculada com base nos critérios da norma EN-1993-1-9 e estrutura metálica verificada segundo critérios da NBR 8800 e AISC-360-16.</p>
<div class="topico"><p>Emissão de memorial de cálculo comprovando adequação da estrutura aos critérios de verificação e análise adotados.</p>
<br>
<div align="center" > 
    <%= image_tag "cavaleteautoalinhante1.png", class: 'cases-image40' %>
    <div class="legenda"><pResultado da verificação (aprovada) do estado limite último da estrutura reforçada.</p></div>
</div><br><br><br><br>
<div align="center">
    <%= image_tag "cavaleteautoalinhante2.png", class: 'cases-image40' %>
    <div class="legenda"><p>Resultado da verificação (aprovada) de vida útil requerida (fadiga) da estrutura reforçada.</p></div>
</div><br>