<div class="footer-wrapper">
  <div class="footer-container text-center">
    <h2>HRD Engenharia</h2>

    <div class="footer-lists hide-on-mobile">
      <ul class="list-inline footer-page-links">
        <%= render 'shared/links-li' %>
      </ul>
    </div>

    <div class="copyright-text">
      <p>©2018 HRD Engenharia - Todos os direitos reservados</p>
      <p>R. Monte Alegre, 49 - Serra, Belo Horizonte, MG - 30240-230</p>
    </div>

  </div>
</div>




