<div class="footer-wrapper">
  <div class="footer-container text-center">
    <h2>HRD Engenharia</h2>

    <div class="footer-lists hide-on-mobile">
      <ul class="list-inline footer-page-links">
        <%= render 'shared/links-li' %>
      </ul>
    </div>

    <div class="copyright-text">
      <p>©2019 HRD Engenharia - Todos os direitos reservados</p>
      <p>Av. Prudente de Morais, 890 - Santo Antônio Cep: 30380-252 Belo Horizonte/MG</p>
    </div>

  </div>
</div>




