<!-- Alterar nomes e links das paginas na navbar e footer -->

<a href="/home" class="navbar-wagon-item navbar-wagon-link">Home</a>
<a href="/a-empresa" class="navbar-wagon-item navbar-wagon-link">A empresa</a>
<div class="dropdown-atuacao">
  <button class="dropbtn-atuacao">Atuação</button>
  <div class="dropdown-content-atuacao">
    <% @areas_nomes.length.times do |area| %>
      <%= link_to "/areas/" + @areas_links[area] do %>
        <p class="dropdown-content-atuacao-item <%= "active" if params[:area] == @areas_links[area] %>"><%= @areas_nomes[area] %></p>
      <% end %>
    <% end %>
  </div>
</div>
<a href="/servicos" class="navbar-wagon-item navbar-wagon-link">Serviços</a>
<a href="/equipe" class="navbar-wagon-item navbar-wagon-link">Equipe</a>
<a href="/contato" class="navbar-wagon-item navbar-wagon-link navbar-contact-link">Contato</a>
<a href="https://www.linkedin.com/company/hrd-solucoes/" class="navbar-wagon-item navbar-wagon-link navbar-contact-link" target="_blank">
  <i class="fab fa-linkedin linkedin-navbar"></i>
</a>


