<!-- Alterar nomes e links das paginas na navbar e footer -->

<li class="footer-page-link list-no-bullet"><a href="/home">Home</a></li>
<li class="footer-page-link list-no-bullet"><a href="/a-empresa">A empresa</a></li>
<li class="footer-page-link list-no-bullet"><a href="/servicos">Serviços</a></li>
<li class="footer-page-link list-no-bullet"><a href="/cases">Estudos de casos</a></li>
<!--<li class="footer-page-link list-no-bullet"><a href="/cases">Cases</a></li> -->
<li class="footer-page-link list-no-bullet"><a href="/contato">Contato</a></li>
