<!-- Alterar nomes e links das paginas na navbar e footer -->

<a href="/home" class="navbar-wagon-item navbar-wagon-link">Home</a>
<a href="/a-empresa" class="navbar-wagon-item navbar-wagon-link">A empresa</a>
<a href="/produtos" class="navbar-wagon-item navbar-wagon-link">Produtos</a>
<a href="/equipe" class="navbar-wagon-item navbar-wagon-link">Equipe</a>
<a href="/contato" class="navbar-wagon-item navbar-wagon-link navbar-contact-link">Contato</a>
