<!-- Alterar nomes e links das paginas na navbar e footer -->

<b class="footer-page-link"><a href="/home">Home</a></b>
<b class="footer-page-link"><a href="/a-empresa">A empresa</a></b>
<b class="footer-page-link"><a href="/servicos">Serviços</a></b>
<b class="footer-page-link"><a href="/cases">Estudos de casos</a></b>
<!--<li class="footer-page-link"><a href="/cases">Cases</a></li> -->
<b class="footer-page-link"><a href="/contato">Contato</a></b>
