<!-- Alterar nomes e links das paginas na navbar e footer -->

<li><a href="/home">Home</a></li>
<li><a href="/a-empresa">A empresa</a></li>
<li><a href="/produtos">Portfólio</a></li>
<li><a href="/equipe">Equipe</a></li>
<li><a href="/contato">Contato</a></li>
