<div class="wrapper-page" style="<%= @page_background %>">
  <div class="container-page">

  <h1 class="page-title">A Empresa</h1>

  <p class="page-content">
    A HRD Soluções de Engenharia foi formada em 2018 por engenheiros entusiastas da área de cálculo estrutural e mecânico. Após mais de sete anos trabalhando em conjunto, agregando ambições pessoais e profissionais, os fundadores se uniram em um objetivo comum, criar a HRD. A confiança na competência e responsabilidade técnica de cada um dos sócios é um dos pilares de fundação e desenvolvimento da empresa. Com uma equipe de perfil técnico e dinâmico, a empresa busca atender uma necessidade do mercado de serviços especializados, aliando-se aos seus clientes para encontrar soluções personalizadas, tecnicamente embasadas e responsáveis.
  </p>

  <h1 class="page-subsubtitle">Missão</h1>

  <ul class="valores-lista">
    <li>Garantir a segurança, confiabilidade e disponibilidade dos ativos dos nossos clientes;</li>
    <li>Atender de forma personalizada em busca da solução multidisciplinar e otimizada para os problemas dos nossos clientes e parceiros.</li>
  </ul>

  <h1 class="page-subsubtitle">Visão estratégica</h1>

  <p class="page-content">
    Ser reconhecida por nossos parceiros como a empresa referência em excelência técnica e atendimento.
  </p>

  <h1 class="page-subsubtitle">Valores</h1>
  <ul class="valores-lista">
    <li>Soluções tecnicamente embasadas e responsáveis;</li>
    <li>Assistência pessoal, direta e dedicada aos clientes;</li>
    <li>Transparência e honestidade;</li>
    <li>Capacitação e retenção de talentos.</li>
  </ul>

  <br>
    
  <h1 class="page-subsubtitle">Política da qualidade</h1>

  <p class="page-content">
    Fornecer serviços de engenharia com excelência, atendendo aos requisitos aplicáveis e em constante evolução do sistema de gestão da qualidade, em busca de se tornar referência técnica no mercado.
  </p>
    
  <br>

  <div style="display:none;">
    <%= box(50,'foto da equipe').html_safe %>
  </div>

  </div>
</div>
