<div class="wrapper-page" style="<%= @page_background %>">
  <div class="container-page">

  <h1 class="page-title">A Empresa</h1>

  <p class="page-content">
    A HRD Soluções de Engenharia foi formada em 2018 por engenheiros entusiastas da área de cálculo estrutural e mecânico. Após mais de sete anos trabalhando em conjunto, agregando ambições pessoais e profissionais, os fundadores se uniriam em um objetivo comum de criar a HRD. A confiança na competência e responsabilidade técnica de cada um dos sócios é um dos pilares de fundação da empresa. Com uma equipe de perfil técnico e dinâmico, a empresa busca atender uma necessidade do mercado de serviços especializados, aliando-se aos seus clientes para encontrar soluções personalizadas, tecnicamente embasadas e responsáveis.
  </p>

  <h1 class="page-subtitle">Missão</h1>

  <ul class="valores-lista">
    <li>Apresentar soluções impulsionadas por conhecimento técnico que proporcionam mitigação de riscos e agregam valor aos ativos dos nossos parceiros;</li>
    <li>Atuar lado a lado dos parceiros subsidiando-os tecnicamente para encontrar soluções eficientes e responsáveis.</li>
  </ul>

  <h1 class="page-subtitle">Visão estratégica</h1>

  <p class="page-content">
    Ser reconhecida por nossos parceiros como a empresa referência em excelência técnica e atendimento.
  </p>

  <h1 class="page-subtitle">Valores</h1>
  <ul class="valores-lista">
    <li>Soluções tecnicamente embasadas e responsáveis;</li>
    <li>Assistência pessoal, direta e dedicada aos clientes;</li>
    <li>Transparência e honestidade;</li>
    <li>Capacitação e retenção de talentos.</li>
  </ul>

  <br>

  <%= box(50,'foto da equipe').html_safe %>

  </div>
</div>
