<div class="wrapper-page wrapper-minheight">
  <div class="container-page">

  <h1 class="page-title">A Empresa</h1>

  <h1 class="page-subtitle">Breve histórico</h1>
  <%= content(10).html_safe %>

  <h1 class="page-subtitle">Missão</h1>
  <%= content(2).html_safe %>

  <h1 class="page-subtitle">Valores</h1>
  <ul>
    <li>Valor 1</li>
    <li>Valor 2</li>
    <li>Valor 3</li>
    <li>Valor 4</li>
    <li>Valor 5</li>
  </ul>

  <%= box(50,'foto da equipe').html_safe %>

  </div>
</div>
