<div class="wrapper-page" style="<%= @page_background %>">
  <div class="container-page">
    <h1 class="page-title">
      Estudos de casos
    </h1>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
          ANÁLISE ESTRUTURAL:
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>

      <div class="servico-content hide">
      <br><a href="#" data-toggle="modal" data-target="#modal-case" class="btn btn-primary case-link" data-case="tambor-prok" data-title="O tambor brabo q fizemos">Tambor: PROK-</a><br>
      <br><a href="#" data-toggle="modal" data-target="#modal-case" class="btn btn-primary case-link" data-case="teste2" data-title="SWR H4; Empilhadeira/Recuperadora OS-050">SWR H4; Empilhadeira/Recuperadora OS-050</a><br>
        <br><p>SWR H4; Empilhadeira/Recuperadora OS-050</p><br>
        <p>Stacker03; Empilhadeira OS-052</p><br>
        <p>Virador de vagões; Virador de Vagões OS-51 e OS-068</p><br>
        <p>Descarregadores Tubarão; Descarregador de Navios OS-001, OS-002, OS-003</p><br>
        <p>Carregador de navios ARCADIS; OS-080</p><br>
        <p>CurvaFlex; OS-015</p><br>
        <p>Otimização galpão Galpões Metálicos OS-067</p><br>
      </div>
    </div>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
          ANÁLISE EXPERIMENTAL EXTENSOMETRIA E VIBRAÇÃO:
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>

      <div class="servico-content hide">
        <ul>
          <li>Análise estrutural estática linear e não-linear;</li>
          <li>Análise estrutural dinâmica: modal, resposta frequência, vibração forçada explícita e implícita;</li>
          <li>Análise termo estrutural;</li>
          <li>Análise de fadiga e vida remanescente;</li>
          <li>Análise de mecânica da fratura;</li>
        </ul>
      </div>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        ANÁLISE VIA MÉTODO ELEMENTOS DISCRETOS (DEM):
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        ANÁLISE FLUIDODINÂMICA COMPUTACIONAL CFD:
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
       PROJETOS MECÂNICOS:
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        PROJETOS ESTRUTURAS METÁLICAS:
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        ELABORAÇÃO DE MODELOS CAD 3D:
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        INSPEÇÃO E AVALIAÇÃO DE INTEGRIDADE ESTRUTURAL:
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        PLANOS EXECUTIVOS E ACOMPANHAMENTO:
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        EXECUÇÃO DE TREINAMENTOS EM ANÁLISE DE EQUIPAMENTOS:
      </h2>
    </div>

   <!-- <div class="cada-servico">
      <h2 class="servico-title">
        Análise estrutural e mecânica para repotenciamento de equipamentos;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Execução de treinamentos em análise de equipamentos e estruturas.
      </h2>
    </div>
-->
  </div>
</div>
