<div class="wrapper-page" style="<%= @page_background %>">
  <div class="container-page">
    <h1 class="page-title">
      Cases
    </h1>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
          ANÁLISE ESTRUTURAL;
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>

      <div class="servico-content hide">
        <br><p>Tambor: PROK-</p><br>
        <p>SWR H4; Empilhadeira/Recuperadora OS-050</p><br>
        <p>Stacker03; Empilhadeira OS-052</p><br>
        <p>Virador de vagões; Virador de Vagões OS-51 e OS-068</p><br>
        <p>Descarregadores Tubarão; Descarregador de Navios OS-001, OS-002, OS-003</p><br>
        <p>Carregador de navios ARCADIS; OS-080</p><br>
        <p>CurvaFlex; OS-015</p><br>
        <p>Otimização galpão Galpões Metálicos OS-067</p><br>
      </div>
    </div>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
          Análises via método dos elementos finitos
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>

      <div class="servico-content hide">
        <ul>
          <li>Análise estrutural estática linear e não-linear;</li>
          <li>Análise estrutural dinâmica: modal, resposta frequência, vibração forçada explícita e implícita;</li>
          <li>Análise termo estrutural;</li>
          <li>Análise de fadiga e vida remanescente;</li>
          <li>Análise de mecânica da fratura;</li>
        </ul>
      </div>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Análise fluidodinâmica computacional (CFD);
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Análise modal teórica e experimental;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Análise experimental de tensões (extensometria) e de vibrações;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Inspeção e avaliação de integridade estrutural;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Perícia e investigação de acidentes;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Planos de montagem e desmontagem;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Procedimentos e acompanhamento de instalação de reforços e reformas;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Verificação e dimensionamento de estruturas e componentes mecânicos;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Análise estrutural e mecânica para repotenciamento de equipamentos;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Execução de treinamentos em análise de equipamentos e estruturas.
      </h2>
    </div>

  </div>
</div>
