<div class="wrapper-page" style="<%= @page_background %>">
  <script>
     function gtag_report_conversion(url) {
      var callback = function () {
         if (typeof(url) != 'undefined') {
           window.location = url;
          }
         };
         gtag('event', 'conversion', {
           'send_to': 'AW-766015297/ebZkCIqFwuoCEMHuoe0C',
           'event_callback': callback
           });
          return false;
         }
     </script>
  <div class="container-page">
      <h1 class="page-title2" align= "left">
        Estudos de casos
            <div class="portfolio-right" align= "right">
            <%= link_to "download/HRD-Portfolio-detalhado.pdf", target: :_blank do  %>
              <button class="btn btn-primary" onclick="return gtag_report_conversion('download/HRD-Portfolio-detalhado.pdf')"> BAIXAR PORTFÓLIO DETALHADO</button>
            <% end %>
      </h1>

      <div class="flex center case-search-div case-search-div-navbar">
        <div class="flex center around"><i class="fa fa-search"></i></div>
        <input type="text" placeholder="Procurar case..." class="case-search case-search-input">
        <div class="case-list hide">
      </div>
    </div>

        <!-- <%= link_to "download/HRD-Portfolio-detalhado.pdf", target: "_blank", class: 'equipe-cada-membro-downloadcurriculo', target: :_blank do  %>
          <i class="fa fa-file-download"></i>Download portfolio detalhado
        <% end %>-->
    </div>   

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title", id="analise-estrutural-header">
          ANÁLISE ESTRUTURAL
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>

      <div class="servico-content hide" id="analise-estrutural">
        <ul>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="tambor" data-title="Análise Estrutural">Tambor de transportador de correia </a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="empilhadeira" data-title="Análise Estrutural">Empilhadeira</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="virador" data-title="Análise Estrutural">Virador de vagões</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="descarregador" data-title="Análise Estrutural">Descarregador de navios</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="carregadorSL" data-title="Análise Estrutural">Carregador de navios</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="correia-curvo" data-title="Análise Estrutural">Transportador de correia curvo </a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="trinca-britador" data-title="Análise Estrutural">Trincas no britador de mandíbula </a></li>
        </ul>
      </div>
    </div>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
          ANÁLISE VIA MÉTODO ELEMENTOS DISCRETOS (DEM)
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>
      <div class="servico-content hide" id="analise-dem">
        <ul>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="DEM1" data-title="Análise DEM">Chutes de transferência</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="DEM2" data-title="Análise DEM">Válvula desviadora de fluxo</a></li>
        </ul>
      </div>

    </div>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
          ELABORAÇÃO DE MODELOS CAD 3D
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>
      <div class="servico-content hide" id="modelos-3d">
        <ul>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="cad1" data-title="Elaboração de modelos CAD 3D">Fixação de painéis fotovoltaicos</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="cad2" data-title="Análise Estrutural">Portaria de condomínio</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="cad3" data-title="Análise Estrutural">Retenção de material em porto</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="cad4" data-title="Análise Estrutural">Equipamento de elevação de carga</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="cad5" data-title="Elaboração de modelos CAD 3D">Elaboração de maquetes 3D</a></li>
        </ul>
      </div>

    </div>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
        PROJETOS MECÂNICOS
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>
      <div class="servico-content hide" id="projetos-mecanicos">
        <ul>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="mecanicos1" data-title="Projetos mecânicos">Redução da emissão de particulados</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="mecanicos2" data-title="Projetos mecânicos">Projeto básico (FEL3) de linha TCLD</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="mecanicos3" data-title="Projetos mecânicos">Dimensionamento mecânico de transportadores de correia</a></li>
        </ul>
      </div>

    </div>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
          PROJETOS ESTRUTURAS METÁLICAS
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>
      <div class="servico-content hide" id="projetos-metalicas">
        <ul>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="galpoes" data-title="Estruturas Metálicas">Galpões Metálicos</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="pier" data-title="Estruturas Metálicas">Píer de estrutura metálica</a></li>
        </ul>
      </div>

    </div>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
          ANÁLISE EXPERIMENTAL EXTENSOMETRIA E VIBRAÇÃO
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>

      <div class="servico-content hide" id="analise-experimental">
        <ul>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="Acelerometria-mezanino" data-title="Análise Experimental">Acelerometria Mezanino</a></li>
           <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="britador" data-title="Análise Experimental">Britador de Mandíbula</a></li>
        </ul>
      </div>
    </div>  

<h2 id="teste"></h2>
    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        ANÁLISE FLUIDODINÂMICA COMPUTACIONAL CFD
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide" id="analise-cfd">
        <ul>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="CFD1" data-title="Análise CFD">Recuperadora de minério</a></li>
        </ul>
      </div>
    </div>

    <!--<div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        INSPEÇÃO E AVALIAÇÃO DE INTEGRIDADE ESTRUTURAL:
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide" id="integridade-estrutural">
        <ul>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="Aguardando Elaboração" data-title="Análise Estrutural">Aguardando Elaboração</a></li>
        </ul>
      </div>

    </div>-->

    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        PLANOS EXECUTIVOS E ACOMPANHAMENTO
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide" id="planos-executivos">
        <ul>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="empilha-recupera" data-title="Planos executivos e acompanhamento">Empilhadeira/Recuperadora</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="empilhadeira2" data-title="Planos executivos e acompanhamento">Empilhadeira</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="carregador" data-title="Planos executivos e acompanhamento">Carregador de navios</a></li>
          <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="porta-roda" data-title="Planos executivos e acompanhamento">Viga porta-roda danificada</a></li>
        </ul>
      </div>

    </div>
    <!--
    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        EXECUÇÃO DE TREINAMENTOS EM ANÁLISE DE EQUIPAMENTOS:
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide" id="treinamentos">
         <li class="list-with-bullet"><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="galpoes" data-title="Análise Estrutural">Galpões Metálicos</a></li>
      </div>

    </div>-->

   <!-- <div class="cada-servico">
      <h2 class="servico-title">
        Análise estrutural e mecânica para repotenciamento de equipamentos;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Execução de treinamentos em análise de equipamentos e estruturas.
      </h2>
    </div>
-->
  </div>
</div>
