<div class="wrapper-page" style="<%= @page_background %>">
  <div class="container-page">
    <h1 class="page-title">
      Estudos de casos
    </h1>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
          ANÁLISE ESTRUTURAL:
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>

      <div class="servico-content hide">
      <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="tambor" data-title="Análise Estrutural">Tambor de transportador de correia </a></li>
      <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="empilha-recupera" data-title="Análise Estrutural">Empilhadeira/Recuperadora</a></li>
      <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="empilhadeira" data-title="Análise Estrutural">Empilhadeira</a></li>
      <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="virador" data-title="Análise Estrutural">Virador de vagões</a></li>
      <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="descarregador" data-title="Análise Estrutural">Descarregador de navios</a></li>
      <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="carregador" data-title="Análise Estrutural">Carregador de navios ARCADIS</a></li>
      <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="correia-curvo" data-title="Análise Estrutural">Transportador de correia curvo </a></li>
      <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="galpoes" data-title="Análise Estrutural">Galpões Metálicos</a></li>
      </div>
    </div>

    <div class="cada-servico">
      <div class="servico-header">
        <h2 class="servico-title">
          ANÁLISE EXPERIMENTAL EXTENSOMETRIA E VIBRAÇÃO:
        </h2>
        <i class="fas fa-caret-down"></i>
      </div>

      <div class="servico-content hide">
        <ul>
          <li>Análise estrutural estática linear e não-linear;</li>
          <li>Análise estrutural dinâmica: modal, resposta frequência, vibração forçada explícita e implícita;</li>
          <li>Análise termo estrutural;</li>
          <li>Análise de fadiga e vida remanescente;</li>
          <li>Análise de mecânica da fratura;</li>
        </ul>
      </div>
    </div>

    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        ANÁLISE VIA MÉTODO ELEMENTOS DISCRETOS (DEM):
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide">
         <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="DEM1" data-title="Análise DEM">Chutes de transferência</a></li>
      </div>
    
    </div>

    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        ANÁLISE FLUIDODINÂMICA COMPUTACIONAL CFD:
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide">
         <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="CFD1" data-title="Análise CFD">Recuperadora</a></li>
      </div>
    </div>

    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
       PROJETOS MECÂNICOS:
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide">
         <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="galpoes" data-title="Análise Estrutural">Galpões Metálicos</a></li>
      </div>

    </div>

    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        PROJETOS ESTRUTURAS METÁLICAS:
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide">
         <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="galpoes" data-title="Análise Estrutural">Galpões Metálicos</a></li>
      </div>

    </div>

    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        ELABORAÇÃO DE MODELOS CAD 3D:
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide">
         <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="galpoes" data-title="Análise Estrutural">Galpões Metálicos</a></li>
      </div>

    </div>

    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        INSPEÇÃO E AVALIAÇÃO DE INTEGRIDADE ESTRUTURAL:
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide">
         <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="galpoes" data-title="Análise Estrutural">Galpões Metálicos</a></li>
      </div>

    </div>

    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        PLANOS EXECUTIVOS E ACOMPANHAMENTO:
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide">
         <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="galpoes" data-title="Análise Estrutural">Galpões Metálicos</a></li>
      </div>

    </div>

    <div class="cada-servico">
    <div class="servico-header">
      <h2 class="servico-title">
        EXECUÇÃO DE TREINAMENTOS EM ANÁLISE DE EQUIPAMENTOS:
      </h2>
      <i class="fas fa-caret-down"></i>
    </div>
      <div class="servico-content hide">
         <li><a href="#" data-toggle="modal" data-target="#modal-case" class="case-link" data-case="galpoes" data-title="Análise Estrutural">Galpões Metálicos</a></li>
      </div>

    </div>

   <!-- <div class="cada-servico">
      <h2 class="servico-title">
        Análise estrutural e mecânica para repotenciamento de equipamentos;
      </h2>
    </div>

    <div class="cada-servico">
      <h2 class="servico-title">
        Execução de treinamentos em análise de equipamentos e estruturas.
      </h2>
    </div>
-->
  </div>
</div>
