<div class="wrapper-page wrapper-minheight">
  <div class="container-page">

    <h1 class="page-title">Contatos</h1>

    <div class="row">
      <div class="col-md-7 col-xs-12">
        <%= render 'shared/contact' %>
      </div>
      <div class="col-md-5 col-xs-12 contact-infos">
        <h2 class="contact-info-header"><i class="fas fa-phone"></i> Telefone</h2>
        <h2 class="contact-info-content">
          (31) 3223-3223
        </h2>

        <h2 class="contact-info-header"><i class="far fa-envelope"></i> E-mail</h2>
        <h2 class="contact-info-content">
          contato@hrdengenharia.com.br
        </h2>
        <h2 class="contact-info-content">
          comercial@hrdengenharia.com.br
        </h2>

        <h2 class="contact-info-header"><i class="fas fa-map-marker-alt"></i> Endereço</h2>
        <h2 class="contact-info-content">
          R. Monte Alegre, 49, loja 2 - Serra, Belo Horizonte, MG - 30240-230
        </h2>
      </div>
    </div>

    <%= box(40,'mapa').html_safe %>

  </div>
</div>
