<div class="wrapper-page wrapper-minheight">
    <script>
       function gtag_report_conversion(url) {
        var callback = function () {
        if (typeof(url) != 'undefined') {
         window.location = url;
           }
         };
        gtag('event', 'conversion', {
       'send_to': 'AW-766015297/LHuICO-cl-oCEMHuoe0C',
       'event_callback': callback
       });
      return false;
     }
    </script>
 
  <div class="container-page">


    <% if params[:email] == 'sent' %>
      <div class="alert-email-sent">
        <p>Seu e-mail foi enviado com sucesso. Entraremos em contato em breve!</p>
      </div>
      <!-- Event snippet for Lead - Site conversion page -->
      <script>
        gtag('event', 'conversion', {'send_to': 'AW-766015297/Hz3zCLahytkCEMHuoe0C'})
      </script>
  
    <% end %>

    <h1 class="page-title">Contatos</h1>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <%= render 'shared/contact' %>
      </div>
      <div class="col-md-6 col-xs-12 contact-infos">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="contact-phone">
              <h2 class="contact-info-header"><i class="fas fa-phone"></i> Telefones</h2>
              <h2 class="contact-info-content">
              <form action="tel:+55-31-3879-4587">
                <button class="contato-btn" ><i class="fas fa-phone"></i> (31) 3879-4587</button>
                          <!--<a href= "tel:+55-31-3879-4587 "><i class="fas fa-phone"></i> (31) 3879-4587</a>-->
                          <!-- <i class="fas fa-phone"></i> (31) 3879-4587
                <script>
                  gtag('config', 'AW-766015297/wUL0CMzsitsCEMHuoe0C', {
                    'phone_conversion_number': '(31) 3879-4587'
                  })
                </script>-->
               </form>
              </h2>
             <h2 class="contact-info-content">
                <a onclick="return gtag_report_conversion('https://api.whatsapp.com/send?phone=5531991462556');" href= "https://api.whatsapp.com/send?phone=5531991462556" target="_blank"><i class="fab fa-whatsapp"></i> (31) 99146-2556 - Diego Martins 
                </a>
              </h2>
              <!-- <h2 class="contact-info-content">
                <i class="fab fa-whatsapp"></i> (31) 98269-5775 - Renêe Ferreira
              </h2>-->
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="contact-email">
              <h2 class="contact-info-header"><i class="far fa-envelope"></i> E-mail</h2>
              <h2 class="contact-info-content">
                contato@hrdengenharia.com.br
              </h2>
              <h2 class="contact-info-content">
                comercial@hrdengenharia.com.br
              </h2>
            </div>
          </div>
        </div>
        <h2 class="contact-info-header"><i class="fas fa-map-marker-alt"></i> Endereço</h2>
        <h2 class="contact-info-content">
          Av. Prudente de Morais, 890, 6° andar - Santo Antônio Cep: 30380-252 Belo Horizonte/MG
        </h2>
        <div
          id="map"
          style="width: 100%;
          height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-trabalhe-conosco" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-trabalhe-conosco-title" id="exampleModalLabel">Trabalhe conosco</h4>
      </div>
      <div class="modal-body">
        <p class="modal-body-par">Se você tem interesse em colaborar conosco, envie um e-mail para <strong>vagas@hrdengenharia.com.br</strong> com seu currículo em anexo.</p>
      </div>
    </div>
  </div>
</div>
