<div class="wrapper-page wrapper-minheight">
  <div class="container-page">

    <% if params[:email] == 'sent' %>
      <div class="alert-email-sent">
        <p>Seu e-mail foi enviado com sucesso. Entraremos em contato em breve!</p>
      </div>
    <% end %>

    <h1 class="page-title">Contatos</h1>

    <div class="row">
      <div class="col-md-7 col-xs-12">
        <%= render 'shared/contact' %>
      </div>
      <div class="col-md-5 col-xs-12 contact-infos">
        <h2 class="contact-info-header"><i class="fas fa-phone"></i> Telefone</h2>
        <h2 class="contact-info-content">
          (31) 99146-2556 - Diego Martins
        </h2>
        <h2 class="contact-info-content">
          (31) 98269-5775 - Renêe Ferreira
        </h2>


        <h2 class="contact-info-header"><i class="far fa-envelope"></i> E-mail</h2>
        <h2 class="contact-info-content">
          contato@hrdengenharia.com.br
        </h2>
        <h2 class="contact-info-content">
          comercial@hrdengenharia.com.br
        </h2>

        <h2 class="contact-info-header"><i class="fas fa-map-marker-alt"></i> Endereço</h2>
        <h2 class="contact-info-content">
          R. Monte Alegre, 49, loja 2 - Serra, Belo Horizonte, MG - 30240-230
        </h2>

        <%= link_to 'Trabalhe conosco', "#", data: {toggle: "modal", target: "#modal-trabalhe-conosco"}, class:"trabalhe-conosco-link" %>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-trabalhe-conosco" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-trabalhe-conosco-title" id="exampleModalLabel">Trabalhe conosco</h4>
      </div>
      <div class="modal-body">
        <p class="modal-body-par">A HRD Engenharia está situada em Belo Horizonte e oferece análises de calculos estruturais e mecânicos para mitigar riscos e agregar valor aos ativos de nossos parceiros.</p>
        <p class="modal-body-par">Se você tem interesse em colaborar conosco, envie um e-mail para <strong>rh@hrdengenharia.com.br</strong> com seu currículo em anexo.</p>
      </div>
      <div class="modal-footer">
        HRD Engenharia
      </div>
    </div>
  </div>
</div>
