<div class="wrapper-page wrapper-minheight">
  <div class="container-page">

  <h1 class="page-title">Nossa equipe</h1>

  <div class="equipe-cada-membro">
    <div class="equipe-cada-membro-left text-center">
      <%= image_tag 'equipe-ronaldo', class: 'equipe-cada-membro-foto' %>
      <br>
      <%= link_to 'https://www.linkedin.com/in/ronaldo-lelis-santos-740181a5/', class: 'linkedin-links' do %>
        <i class="fab fa-linkedin"></i>&nbsp;&nbsp;LinkedIn
      <% end %>
    </div>
    <div class="equipe-cada-membro-right">

    </div>
  </div>



  </div>
</div>
