<div class="wrapper-page wrapper-minheight">
  <div class="container-page">

    <h1 class="page-title">Nossa equipe</h1>

    <!-- Inicio Membro: Ronaldo Lelis Santos -->
    <div class="equipe-cada-membro">
      <div class="equipe-cada-membro-left text-center">
        <%= link_to 'https://www.linkedin.com/in/ronaldo-lelis-santos-740181a5/' do %>
          <%= image_tag 'equipe-ronaldo', class: 'equipe-cada-membro-foto' %>
          <h2 class="linkedin-links"><i class="fab fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</h2>
        <% end %>
      </div>

      <div class="equipe-cada-membro-mid">
      </div>

      <div class="equipe-cada-membro-right">
        <h2 class="equipe-cada-membro-nome">
          Ronaldo Lelis Santos
        </h2>
        <p class="equipe-cada-membro-descricao">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar
        </p>
      </div>
    </div>
    <!-- Fim Membro: Ronaldo Lelis Santos -->






  </div>
</div>
