<div class="wrapper-page" style="<%= @page_background %>">
  <div class="container-page">

    <h1 class="page-title">Página de cases</h1>

    <a href="#" data-toggle="modal" data-target="#modal-case" class="btn btn-primary case-link" data-case="test" data-title="Empilhadeira cabulosa 2">Ver caso: Empilhadeira cabulosa</a>
  </div>
</div>
