// This is the CSS for the carousel template
// A lot of adjustments on height and width has to be made in order to prevent bugs and overflows

// Set this to the name of the wrapper of the slider
.wrapper-homepage-slideshow {
  height: 100vh;
}

// Set this to the name of the container of the slider
.container-home-slideshow {
  height: 100%;

  .row {
    height: 100%;
    width: 100%;
    margin: 0;

    .col-xs-12 {
      height: 100%;
      width: 100%;
      padding: 0;
    }
  }
}

// Set this to the name of the id of the slider
#home-slider {
  height: 100%;
}

.carousel-inner {
  height: 100%;

}

.carousel-home-item {
  background-size: cover !important;
  background-position: center !important;
  height: 100%;

  img {
    height: 100%;

    background-size: cover;
  }
}

.carousel-caption {
  margin-bottom: 120px;
}

.carousel-slide-title {
  font-size: 40px;
  text-transform: uppercase;
  font-family: $roboto;
  font-weight: 200;
  color: white;
  text-shadow: 1px 1px rgba(255,255,255,1);
  position: relative;

  margin-bottom: 30px;
}

.carousel-slide-description {
  font-size: 22px;

  margin-bottom: 50px;
}

.carousel-slide-button {
  padding: 20px 30px;

  color: white;

  border: 0.75px solid white;
  border-radius: 30px;

  font-size: 18px;

  font-weight: 200;

  position: relative;

  &:hover {
    background-color: white;

    transition: 500ms ease;
  }
}

// Adaptacoes para telas maiores
@media screen and (min-width: 1600px) {
  .carousel-caption {
    margin-bottom: 250px;
  }
  .carousel-slide-title {
    font-size: 60px;
    margin-bottom: 50px;
  }
  .carousel-slide-description {
    font-size: 25px;
    margin-bottom: 50px;
    text-align: justify;
  }
  .carousel-slide-button {
    padding: 20px 35px;

    color: white;

    font-size: 30px;
  }
}

// Adaptacoes para mobile
@media screen and (max-width: 768px) {
  .carousel-caption {
    margin-bottom: 120px;
  }
  .carousel-slide-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: $roboto;
    font-weight: 300;
    color: white;
    text-shadow: none;
  }
  .carousel-slide-description {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: justify;
  }
  .carousel-slide-button {
    padding: 20px 25px;

    color: white;

    font-size: 15px;

    border: 1px solid white;
    border-radius: 30px;

    font-weight: 400;
  }
}

// Styling carousel indicators (modify width, height, border-radius etc to get dots, lines, etc)
.carousel-indicators li {
  width: 50px;
  height: 6px;

  border-radius: 0;
}
.carousel-indicators li::before {
  content: '';
}
.carousel-indicators li.active {
  width: 50px;
  height: 6px;

  border-radius: 0;

  border-top: 6px solid white;
}

// Mobile carousel indicators
@media screen and (max-width: 400px) {
  .carousel-indicators li {
    width: 30px;
    height: 6px;
  }
  .carousel-indicators li.active {
    width: 30px;
    height: 6px;

    border-top: 6px solid white;
  }
}

.item.next .carousel-caption-opc {
    opacity: 0;
}

.carousel-caption-opc {
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}





