/* Main navbar */
.navbar-hrd {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  height: 6vh;
  padding: 20px 30px 20px 30px;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;

  background: $azul-logo;

  border-bottom: none;

  width: 100%;

  a:link, a:hover, a:active, a:visited {
    text-decoration: none;
  }

  z-index: 99;
}

.navbar-logo {
  height: 5vh;
}

.navbar-home {
  background: transparent;
  height: 10vh;

  .navbar-logo {
    height: 8vh;
  }


}
.solid-navbar {
  background: $azul-logo;
  transition: 400ms ease;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar link */
.navbar-wagon-link {
  cursor: pointer;

  color: white;
  font-size: 15px;
  padding: 10px 15px;
  margin: 0 5px;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    background-color: white;
    color: $azul;
    transition: 0.3s ease;
  }

  i {
    font-size: 30px;
  }
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.dropdown-toggle {
  color: rgba(200,200,200,1);
}


// Mobile adaptations
@media screen and (max-width: 400px) {
  .navbar-logo {
    height: 50px;
  }

  .navbar-hrd {
    height: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-wagon-link {
    font-size: 17px;
    padding: 15px 5px;
    margin: 0 4px;

    i {
      font-size: 25px;
    }
  }
}

// Dropdown on hover for atuacao
/* Dropdown Button */
.dropbtn-atuacao {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 15px;
  border: none;
  text-transform: uppercase;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-atuacao {
  position: relative;
  display: inline-block;
}

.dropdown-content-atuacao-item {
  padding: 0 150px 0 30px;
  margin: 0px !important;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-atuacao {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content-atuacao a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-atuacao a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-atuacao:hover .dropdown-content-atuacao {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-atuacao:hover .dropbtn-atuacao {background-color: $azul;}
