@media screen and (min-width: 768px) {
  .page-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .page-desktop {
    display: none !important;
  }
}

.fs-10 { font-size: 10px; }
.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-22 { font-size: 22px; }
.fs-24 { font-size: 24px; }
.fs-26 { font-size: 26px; }
.fs-28 { font-size: 28px; }
.fs-30 { font-size: 30px; }
.fs-36 { font-size: 36px; }
.fs-48 { font-size: 48px; }
.fs-54 { font-size: 54px; }
.fs-60 { font-size: 60px; }
.fs-66 { font-size: 66px; }
.fs-72 { font-size: 72px; }
.fs-80 { font-size: 80px; }

@media screen and (max-width: 1600px) {
  .fs-10 { font-size: 7px; }
  .fs-12 { font-size: 9px; }
  .fs-13 { font-size: 10px; }
  .fs-14 { font-size: 11px; }
  .fs-16 { font-size: 14px; }
  .fs-18 { font-size: 15px; }
  .fs-20 { font-size: 17px; }
  .fs-24 { font-size: 19px; }
  .fs-30 { font-size: 23px; }
  .fs-36 { font-size: 28px; }
  .fs-48 { font-size: 34px; }
  .fs-54 { font-size: 37px; }
  .fs-60 { font-size: 40px; }
  .fs-66 { font-size: 45px; }
  .fs-72 { font-size: 50px; }
  .fs-80 { font-size: 56px; }
}

.fw-100 {font-weight: 100}
.fw-200 {font-weight: 200}
.fw-300 {font-weight: 300}
.fw-400 {font-weight: 400}
.fw-500 {font-weight: 500}
.fw-600 {font-weight: 600}
.fw-700 {font-weight: 700}
.fw-800 {font-weight: 800}

.ls-1 { letter-spacing: 1px;}
.ls-2 { letter-spacing: 2px;}
.ls-3 { letter-spacing: 3px;}
.ls-4 { letter-spacing: 4px;}

.lh-5 { line-height: 0.5 }
.lh-10 { line-height: 1.0 }
.lh-13 { line-height: 1.3 }
.lh-16 { line-height: 1.6 }
.lh-20 { line-height: 2.0 }
.lh-25 { line-height: 2.5 }


.btn-remove-link {
  text-decoration: none !important;
  color: white !important;
}

.br-4 {border-radius: 4px;}
.br-8 {border-radius: 8px;}
.br-12 {border-radius: 12px;}
.br-50p {border-radius: 50%;}

.brt-4 {
  -moz-border-radius: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px; 
}
.brt-8 {
  -moz-border-radius: 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px; 
}
.brt-12 {
  -moz-border-radius: 0px;
  -webkit-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px; 
}
.brb-4 {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px; 
}
.brb-8 {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px; 
}
.brb-12 {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px 0px 12px 12px;
  border-radius: 0px 0px 12px 12px; 
}


.flex {
  display: flex;

  &.center {align-items: center;}
  &.flex-end {align-items: flex-end;}
  &.flex-start {align-items: flex-start;}
  &.around {justify-content: space-around;}
  &.evenly {justify-content: space-evenly;}
  &.between {justify-content: space-between;}
  &.justify-center {justify-content: center;}
  &.start {justify-content: flex-start;}
  &.end {justify-content: flex-end;}
  &.column {flex-direction: column;}
  &.row {flex-direction: row;}
}

.sq-10 {height: 10px; width: 10px;}
.sq-20 {height: 20px; width: 20px;}
.sq-30 {height: 30px; width: 30px;}
.sq-50 {height: 50px; width: 50px;}
.sq-60 {height: 60px; width: 60px;}
.sq-75 {height: 75px; width: 75px;}
.sq-100 {height: 100px; width: 100px;}
.sq-125 {height: 125px; width: 125px;}
.sq-150 {height: 150px; width: 150px;}
.sq-200 {height: 200px; width: 200px;}
.sq-250 {height: 250px; width: 250px;}

.gs-10 {color: rgb(10,10,10)}
.gs-30 {color: rgb(30,30,30)}
.gs-50 {color: rgb(50,50,50)}
.gs-70 {color: rgb(70,70,70)}
.gs-90 {color: rgb(90,90,90)}
.gs-110 {color: rgb(110,110,110)}
.gs-130 {color: rgb(130,130,130)}
.gs-150 {color: rgb(150,150,150)}
.gs-170 {color: rgb(170,170,170)}
.gs-190 {color: rgb(190,190,190)}
.gs-210 {color: rgb(210,210,210)}
.gs-230 {color: rgb(230,230,230)}
.gs-250 {color: rgb(250,250,250)}
.bg-gs-10 {background-color: rgb(10,10,10)}
.bg-gs-30 {background-color: rgb(30,30,30)}
.bg-gs-50 {background-color: rgb(50,50,50)}
.bg-gs-70 {background-color: rgb(70,70,70)}
.bg-gs-90 {background-color: rgb(90,90,90)}
.bg-gs-110 {background-color: rgb(110,110,110)}
.bg-gs-130 {background-color: rgb(130,130,130)}
.bg-gs-150 {background-color: rgb(150,150,150)}
.bg-gs-170 {background-color: rgb(170,170,170)}
.bg-gs-190 {background-color: rgb(190,190,190)}
.bg-gs-210 {background-color: rgb(210,210,210)}
.bg-gs-230 {background-color: rgb(230,230,230)}
.bg-gs-250 {background-color: rgb(250,250,250)}

.f-5 {flex: 0 0 5%;}
.f-10 {flex: 0 0 10%;}
.f-15 {flex: 0 0 15%;}
.f-20 {flex: 0 0 20%;}
.f-25 {flex: 0 0 25%;}
.f-30 {flex: 0 0 30%;}
.f-33 {flex: 0 0 33%;}
.f-38 {flex: 0 0 38%;}
.f-40 {flex: 0 0 40%;}
.f-45 {flex: 0 0 45%;}
.f-48 {flex: 0 0 48%;}
.f-50 {flex: 0 0 50%;}
.f-60 {flex: 0 0 60%;}
.f-65 {flex: 0 0 65%;}
.f-66 {flex: 0 0 66%;}
.f-70 {flex: 0 0 70%;}
.f-75 {flex: 0 0 75%;}
.f-80 {flex: 0 0 80%;}
.f-90 {flex: 0 0 90%;}
.f-1x {flex: 1;}
.f-2x {flex: 2;}
.f-3x {flex: 3;}
.f-4x {flex: 4;}
.f-5x {flex: 5;}
.f-6x {flex: 6;}
.f-7x {flex: 7;}
.f-8x {flex: 8;}
.f-9x {flex: 9;}
.f-10x {flex: 10;}

.bx-1 {box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);}
.bx-2 {box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
.bx-3 {box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);}
.bx-4 {box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);}
.bx-5 {box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);}

.h-10 { height: 10%; }
.h-20 { height: 20%; }
.h-25 { height: 25%; }
.h-30 { height: 30%; }
.h-40 { height: 40%; }
.h-48 { height: 48%; }
.h-50 { height: 50%; }
.h-60 { height: 60%; }
.h-70 { height: 70%; }
.h-75 { height: 75%; }
.h-80 { height: 80%; }
.h-90 { height: 90%; }
.h-100 {height: 100%;}
.h-auto {height: auto;}

.vh-10 { height: 10vh; }
.vh-20 { height: 20vh; }
.vh-25 { height: 25vh; }
.vh-30 { height: 30vh; }
.vh-40 { height: 40vh; }
.vh-50 { height: 50vh; }
.vh-60 { height: 60vh; }
.vh-70 { height: 70vh; }
.vh-75 { height: 75vh; }
.vh-80 { height: 80vh; }
.vh-90 { height: 90vh; }
.vh-100 {height: 100vh;}
.vh-105 {height: 105vh;}
.vh-110 {height: 110vh;}
.vh-120 {height: 120vh;}

.spacer-10 { height: 10px; }
.spacer-20 { height: 20px; }
.spacer-30 { height: 30px; }
.spacer-40 { height: 40px; }
.spacer-50 { height: 50px; }
.spacer-100 { height: 100px; }
.spacer-200 { height: 200px; }

.w-10 { width: 10%; }
.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-48 { width: 48%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-75 { width: 75%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 {width: 100%;}
.w-auto {width: auto;}

.vw-10 { width: 10vw; }
.vw-20 { width: 20vw; }
.vw-25 { width: 25vw; }
.vw-30 { width: 30vw; }
.vw-40 { width: 40vw; }
.vw-50 { width: 50vw; }
.vw-60 { width: 60vw; }
.vw-70 { width: 70vw; }
.vw-75 { width: 75vw; }
.vw-80 { width: 80vw; }
.vw-90 { width: 90vw; }
.vw-100 {width: 100vw;}

.f-white {color: white;}
.f-black {color: black;}
.f-primary {
  color: #257C79;
}

.gap-8 {gap: 8px;}
.gap-16 {gap: 16px;}
.gap-24 {gap: 24px;}
.gap-32 {gap: 32px;}
.gap-48 {gap: 48px;}
.gap-64 {gap: 64px;}
.gap-96 {gap: 96px;}
.gap-128 {gap: 128px;}

.op-095 {opacity: 0.95}
.op-09 {opacity: 0.9}
.op-08 {opacity: 0.8}
.op-07 {opacity: 0.7}
.op-06 {opacity: 0.6}
.op-05 {opacity: 0.5}
.op-04 {opacity: 0.4}
.op-03 {opacity: 0.3}
.op-02 {opacity: 0.2}
.op-01 {opacity: 0.1}

.f-separator {
  font-size: 14px;
  color: #a8a8b3;
  margin: 32px 0;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    flex: 1;
    height: 1px;
    background: #a8a8b3;
    margin-right: 12px;
  }
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #a8a8b3;
    margin-left: 12px;
  }
}

.f-separator-line {
  width: 100%;
  align-items: center;
  height: 1px;
  background: #a8a8b3;
  margin-left: 12px;
}

.box-card {
  background-color: rgb(240,240,240);
  border-radius: 8px;
  box-shadow: 1px 1px rgb(235,235,235);
}

.warning-text {
  background-color: #F0AD4E;
  color: white;
  padding: 8px;
}

.success-text {
  background-color: #5CB85C;
  color: white;
  padding: 8px;
}

.info-text {
  background-color: #17A2B8;
  color: white;
  padding: 8px;
}

.danger-text {
  background-color: #D9534F;
  color: white;
  padding: 8px;
}

.center-container {
  margin-top: 50px;
  padding: 0 200px !important;

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    padding: 0 20px !important;
  }
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  color: rgb(20,20,20);
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  color: rgb(50,50,50);
}

.section-text {
  font-size: 14px;
  font-weight: normal;
  color: rgb(80,80,80);
}

.bold {font-weight: bold;}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.clickable {
  &:hover {
    opacity: 0.9;
    transition: 300ms;
    cursor: pointer;
  }
}

.bg-dark {background: #222320}
.bg-darker {background: #101109}

.select-css {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,rgb(240,240,240) 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

/* Set options to normal weight */
.select-css option {
    font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
}


.list {
  background-color: white;
  border: 1px solid rgb(190,190,190);
  border-radius: 4px;
  margin: 30px 0;
  box-shadow: 1px 1px rgb(190,190,190);

  .list-headers {
    background-color: transparent;
    border-bottom: 2px solid rgb(190,190,190);
  }

  .list-item {
    transition: 300ms;

    &:hover {
      background-color: rgb(240,240,240);
      cursor: pointer;
    }
  }

  .list-item:not(:last-of-type) {
    border-bottom: 1px solid rgb(200,200,200);
  }
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #161616; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.fit-svg {
  svg {
    height: 100%;
    width: 100%;
  }
}

.go-front {
  z-index: 999;
}
.go-back {
  z-index: -1;
}
.position-absolute { position: absolute;}
.position-relative { position: relative;}
.position-top-left {top: 0; left: 0;}
.position-top-right {top: 0; right: 0;}
.position-bottom-left {bottom: 0; left: 0;}
.position-bottom-right {bottom: 0; right: 0;}
